#mapa {
	z-index: 0;
}

.info {
	padding: 6px 8px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border-radius: 0px;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}